/* Canvas layout */
body {
    position: relative;
}

#environment {
    position: relative;
    overflow: auto;
}


#environment-bg-layer {
    position: absolute;
    z-index: 1;
}

#environment-fg-layer {
    position: absolute;
    z-index: 2;
}


/* Supplementary components */

#statsEl {
    font-size: 2em;
    background: rgba(1, 0, 0, 0.1);
    padding: 0.5rem;
}

.controls {
    display: flex;
    padding: 0.5rem;
    font-size: 1em;
}

.controls button {
    padding: 0.25rem;
    margin: 0.25rem;
}